@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(../font) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../font_1) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(../font.html) format('truetype');
}
